<nav class="drawer min">
    <header>
        <h6>Haushaltsbuch</h6>
    </header>
    <a href="/">
        <i>home</i>
        <span class="max">Home</span>
    </a>
    <a href="/dashboard">
        <i>dashboard</i>
        <span>Dashboard</span>
    </a>
    <a href="/addtransaction">
        <i>#
            #
        </i>
        <span>Add Transaction</span>
    </a>
    <a href="/transactionlist">
        <i>favorite</i>
        <span>Transaction List</span>
    </a>
</nav>
@code {

}
